PauseScreen, PlayerInventory {
	
	-fx-background-color: #00000050;
	
}

PlayerList {
	
}

#outputArea .scroll-pane .content, #outputArea .scroll-pane .viewport, #outputArea .scroll-pane .scroll-bar:vertical {
	-fx-background-color: transparent;
}

#outputArea, #inputArea {
	
	-fx-background-color: #00000050;
	-fx-text-fill: white;
	
}